.canvas-company .pane-content {
  font-family: Roboto;
  font-size: 16px;
  font-weight: lighter;
  color: #333; }
  .canvas-company .pane-content p {
    margin: 0; }
  .canvas-company .pane-content a {
    text-decoration: none;
    font-weight: normal;
    color: inherit; }
    .canvas-company .pane-content a:hover {
      text-decoration: underline; }
.canvas-company .anchor-next {
  display: block;
  width: 40px;
  height: 48px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: -40px top;
  background: url(../../images/anchor-next-sprites.png); }
  .canvas-company .anchor-next.anchor-next-white {
    background-position: -40px top; }
  .canvas-company .anchor-next.anchor-next-gray {
    background-position: left top; }
.canvas-company .anchor-prev {
  display: block;
  width: 40px;
  height: 48px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: -40px top;
  background: url(../../images/anchor-prev-sprites.png); }
  .canvas-company .anchor-prev.anchor-prev-white {
    background-position: -40px top; }
  .canvas-company .anchor-prev.anchor-prev-gray {
    background-position: left top; }
.canvas-company .row-description {
  background: url(../../images/company-description-background.jpg) no-repeat center bottom #5e5e5e;
  height: 637px;
  width: 100%;
  text-align: center; }
  .canvas-company .row-description .panels-flexible-row-inside {
    width: 640px;
    margin: 0 auto; }
.canvas-company .row-dashed {
  background: url(../../images/dashed-horizonal-background.png) repeat-x center 231px; }
.canvas-company .row-white h1, .canvas-company .row-mission-vision h1, .canvas-company .row-dashed h1, .canvas-company .row-current-openings h1 {
  font-family: Ruda;
  color: #333;
  text-align: center;
  font-size: 41px;
  font-weight: normal;
  margin: 41px auto; }
.canvas-company .row-white .subtitle, .canvas-company .row-mission-vision .subtitle, .canvas-company .row-dashed .subtitle, .canvas-company .row-current-openings .subtitle {
  font-family: Roboto;
  font-weight: lighter;
  font-size: 20px;
  text-align: center;
  margin: 58px auto; }
.canvas-company .row-white h2.pane-title, .canvas-company .row-mission-vision h2.pane-title, .canvas-company .row-dashed h2.pane-title, .canvas-company .row-current-openings h2.pane-title {
  font-family: Roboto;
  font-size: 21px;
  color: #666;
  margin: 0 0 9px;
  text-transform: uppercase; }
.canvas-company .row-white {
  background: none; }
.canvas-company .row-current-openings h2.pane-title {
  font-size: 17px; }
.canvas-company .footer-green-row .pane-content a {
  font-weight: lighter; }
.canvas-company .footer-green-row a, .canvas-company .footer-green-row .title {
  color: #fff; }
  .canvas-company .footer-green-row a:hover, .canvas-company .footer-green-row .title:hover {
    text-decoration: none; }
.canvas-company .row-first-separator {
  background: url(../../images/company-first-separator-background.jpg) no-repeat center top;
  width: 100%;
  height: 1067px;
  margin: -320px 0 -285px; }
.canvas-company .row-second-separator {
  background: url(../../images/company-second-separator-background.jpg) no-repeat center top;
  width: 100%;
  height: 876px;
  margin: -240px  0 -140px; }
.canvas-company .pane-team {
  position: relative; }

@media only screen and (min-width: 041px) {
  .canvas-company .row-white h1, .canvas-company .row-mission-vision h1, .canvas-company .row-current-openings h1 {
    font-size: 60px; } }

/*# sourceMappingURL=page--company.css.map */
