.canvas-company {

  .pane-content {
    font-family: Roboto;
    font-size: 16px;
    font-weight: lighter;
    color: #333;
    p {
      margin: 0;
    }
    a {
      text-decoration: none;
      font-weight: normal;
      color: inherit;
      &:hover {
        text-decoration: underline;

      }
    }
  }

  .row-description {
    background: url(../../images/company-description-bakcround.jpg) no-repeat center bottom #5e5e5e;
    height: 637px;
    width: 100%;
    text-align: center;
    .panels-flexible-row-inside {
      width: 640px;
      margin: 0 auto;
    }
  }

  .anchor-next {
    display: block;
    width: 40px;
    height: 48px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: -40px top;
    background: url(../../images/anchor-next-sprites.png);
    &.anchor-next-white {
      background-position: -40px top;
    }
    &.anchor-next-gray {
      background-position: left top;
    }
  }

  .row-dashed {
    background: url(../../images/dashed-horizonal-background.png) repeat-x center 231px;
  }
  .row-white, .row-mission-vision, .row-dashed {
    h1 {
      font-family: Ruda;
      color: #333;
      text-align: center;
      font-size: 41px;
      font-weight: normal;
      margin: 41px auto;
    }
  }
}