.footer-green-row {
    color: #fff;
}

.footer-green-row a {
    color: inherit;
    text-decoration: none;
}

.footer-green-row ul {
    margin: 0;
}

.footer-green-row ul, .footer-green-row ul .logo-footer {
    width: 50%;
    float: left;
    padding: 0 0 0 42px;
    margin: 68px 0 0 0;
}

.footer-green-row ul .title {
    font-weight: bold;
    font-size: 30px;
    padding: 22px 0 0 80px;
    margin: 0 0 20px;
    overflow: visible;
    background: url(../../images/footer-ico-sprites.png) no-repeat left top;
}

.footer-green-row ul:nth-child(2) .title {
    background: url(../../images/footer-ico-sprites.png) no-repeat left -63px;
}

.footer-green-row ul:nth-child(3) .title {
    background: url(../../images/footer-ico-sprites.png) no-repeat left -126px;
}

.footer-green-row ul li {
    font-family: Roboto;
    font-weight: lighter;
    list-style: none;
    font-size: 22px;
    padding: 0 0 0 4px;
}

.footer-green-row ul li:not(.title) {
    line-height: 37px;
}

.footer-green-row .logo-footer {
    background: url("../../images/logo-tablet.png") no-repeat top left;
    width: 197px;
    height: 57px;
    margin: 93px 0 0 38px;
    float: left;
}
