$green: #9fb335;
$title-height: 119px + 23px;

.featured-case-studies-wrapper{
  padding: 23px 0 0 0;


  .pane-title {
    margin: 0;
    font-size: 70px;
    font-weight: normal;
    text-align: center;
    .subtitle {
      margin: 0;
      font-size: 24px;
      display: block;
      font-weight: lighter;
      font-family: Roboto;
    }
  }
}
#featured-case-studies-container {
  text-align: left;
  min-width: 1000px;

  .pane-content {

    .bxslider {
      overflow: hidden;
      width: 100%;
      //height: 854px - $title-height;
      .slide {
        width: 100%;
        height: 907px - $title-height;
        text-align: left;
        margin-right: 300px;
        .container {
          position: relative;
          width: 1000px;
          height: 907px - $title-height;
          margin: 0 auto;
        }
        float: left;
      }
    }

    .views-field-title {
      //position: absolute;
      //right: 0;
      padding: 0 28px;
      margin-top: 200px - $title-height;
      float: right;
      font-size: 39px;
      font-weight: bold;
      height: auto;
      width: 384px;
    }
    .views-field-field-picture {
      text-align: right;
      position: absolute;
      right: 453px;
      top: 212px - $title-height;
      width: 750px;
    }
    .views-field-entity-id {
      float: right;
      clear: both;
      //position: absolute;
      //right: 0;
      //top: 280px - $title-height;
      padding: 0 28px;
      max-height: 224px;
      width: 384px;
      span {
        font-size: 16px !important;
        line-height: 23px !important;
      }
      color: #fff !important;
      overflow: hidden;
    }



    .views-field-path {
      width: 384px;
      position: absolute;
      right: 0;
      top: 534px - $title-height;
      bottom: initial;
      left: initial;
      padding: 0 28px;
      text-align: center;
      height: auto;

      a {
//        -moz-border-radius: 7px;
//        -webkit-border-radius: 7px;
//        border-radius: 7px;
        border: 1px solid #fff;
        background: transparent;
//        width: 100%;
        display: block;
        padding: 22px 0;
//        text-transform: uppercase;
//        font-family: Arial;
        color: #fff;
//        text-decoration: none;
      }
    }



    .views-field-body {
      display: block;
      color: #000;
      width: 381px;
      height: 180px;
      position: absolute;
      right: 0;
      bottom: 0;
      text-align: center;

      .views-label-body {
        color: #5d5e5e;
        font-size: 16px;
        font-weight: bold;
      }
      .field-content {
        font-family: Roboto;
        font-size: 14px;
        font-weight: lighter;
        color: #333;
      }
    }

    .views-field-field-picture-whyus {
      display: block;
      bottom: 0;
      left: 0;
      width: 50%; //497px
      height: 185px;
      position: absolute;
      background: url(../../images/latest-dashed-background.gif) no-repeat right top;
      text-align: center;
      .views-label-field-picture-whyus {
        color: #5d5e5e;
        font-size: 16px;
        font-weight: bold;
      }
      img {
        height: 65px;
        display: inline-block;
        margin: 23px 30px;
      }
    }

    .views-field-field-testimonial-logo {
      display: block;
      position: absolute;
      bottom: 55px;
      right: 389px;
      height: 82px;
      width: 82px;
      border-radius: 50%;
      overflow: hidden;
      img {
      }
    }
  }
}