.canvas-company {
  .row-mission-vision {
    .col-left {
      width: 100%;
      float: none;
      padding: 0;
      margin: 0px 0px 1em;
    }
    .col-right {
      width: 100%;
      float: none;
      .panels-flexible-region-inside {
        padding-left: 0;
      }
    }
    .about-us-container, .vision-container, .mission-container {
      width: 100%;
      padding: 0 46px;
      text-align: left;
      margin: 0 0 52px;
      p {
        margin: 0 0 16px;
      }
    }
  }
}