.row-description .region-description-container {
    text-align: center;
    color: #fff;
    font-family: Roboto;
    font-size: 20px;
    width: 640px;
    padding: 0 60px;
    margin: 0 auto;
    font-weight: lighter;
}

.row-description .region-description-container h2.pane-title {
    font-family: Ruda;
    font-size: 60px;
    font-weight: normal;
    text-transform: uppercase;
    margin: 71px 0 23px;
}

.row-description .region-description-container .pane-content {
    height: 432px;
    padding: 0 0 68px;
    position: relative;
}

.row-description .region-description-container .pane-content .anchor-next {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
