.quote-wrapper {
  width: 100%;
  margin: 0 auto;
  overflow: visible;
  position: relative;
  margin-top: -133px;
  height: 474px;

  .quote-region {
    height: 100%;
    width: 354px;
    float: left;
    position: relative;
    z-index: 20;
    padding: 0 0 0 10px;
    .quote-container {
      height: auto;
      position: absolute;
      bottom: 0;
      .padding-quote {
        vertical-align: top;
        overflow: visible;
        float: left;
      }
      blockquote {
        float: left;
        width: 354px - 44px - 10px;
        font-size: 24px;
        font-family: Roboto;
        margin: 0;
        padding: 24px 0 0 4px;
      }
    }
    .double-prime {
      height: 75px;
      font-family: Georgia;
      font-size: 85px;
      font-weight: bold;
      vertical-align: top;
      display: inline-block;
    }
  }

  .image-left-container {
    display: none;
    width: 243px;
    float: left;
    position: relative;
    padding: 31px 0 0;
    height: 100%;
    .image-left {
      position: absolute;
      right: 0;
    }
  }
  .image-right-container {
    left: -44px;
    width: 640px - 354px;
    float: right;
    position: relative;
    height: 100%;
    z-index: 10;
    .image-right {
      position: absolute;
      left: 0;
    }
  }
  .image-left, .image-right {
    vertical-align: bottom;
  }
}