$slideshow-green: #97ac24;

#header #header-bottom {

  //same as slide
  .views-row {
    position: relative;
    padding-bottom: 111px;
  }

  .slider {
    overflow: hidden;
    height: 1262px;
  }
  // same as .views-row
  .slide {
    width: 100%;
    float: left;
  }
  .navigation-container {
    display: none;
    clear: both;
    width: auto;
    bottom: 0;
    text-align: center;
    height: 15px;
    position: absolute;

    a.slider-nav__item {
      width: 15px;
      height: 15px;
      background: url(../../images/glid-bullets-sprites.png) no-repeat left top;
      display: inline-block;
      margin: 0 7px 0 6px;
      &.slider-nav__item--current, &:hover {
        background: url(../../images/glid-bullets-sprites.png)  no-repeat -15px top;
      }
    }
  }

  .views-field-title {
    font-size: 70px;
    padding: 0 0 28px 0;
    .field-content {
      display: block;
      max-height: 86px;
      a {
        color: #fff;
        text-decoration: none;
      }
    }
  }
  /* Subtile & Content */
  .views-field-entity-id-1, .views-field-entity-id-8 {
    line-height: 40px;
    font-family: "Roboto";
    font-weight: lighter;
    font-size: 34px;
    overflow: hidden;
    .field-content {
      display: block;
      max-height: 166px;
    }
  }

  .views-field-entity-id {
    margin: 20px 0;
  }

  /* Read More link */
  .views-field-path {
    width: 100%;
    position: absolute;
    bottom: 0;

    a {
      -moz-border-radius: 7px;
      -webkit-border-radius: 7px;
      border-radius: 7px;
      border: 1px solid $slideshow-green;
      background: #fff;
      width: 100%;
      display: block;
      padding: 45px 0;
      text-transform: uppercase;
      font-family: Arial;
      color: $slideshow-green;
      text-decoration: none;
    }
  }

}