#header #header-bottom {
  /* Subtile & Content */
  /* Read More link */ }
  #header #header-bottom .views-row {
    position: relative;
    padding-bottom: 111px; }
  #header #header-bottom .bxslider {
    overflow: hidden;
    height: 1262px;
    width: 100%; }
    #header #header-bottom .bxslider .slide {
      width: 100%;
      float: left; }
  #header #header-bottom .views-field-title {
    font-size: 70px;
    padding: 0 0 28px 0; }
    #header #header-bottom .views-field-title .field-content {
      display: block;
      max-height: 86px; }
      #header #header-bottom .views-field-title .field-content a {
        color: #fff;
        text-decoration: none; }
  #header #header-bottom .views-field-entity-id-1, #header #header-bottom .views-field-entity-id-8 {
    line-height: 40px;
    font-family: "Roboto";
    font-weight: lighter;
    font-size: 34px;
    overflow: hidden; }
    #header #header-bottom .views-field-entity-id-1 .field-content, #header #header-bottom .views-field-entity-id-8 .field-content {
      display: block;
      max-height: 166px; }
  #header #header-bottom .views-field-entity-id {
    margin: 20px 0;
    padding: 1px; }
  #header #header-bottom .views-field-path {
    width: 100%;
    position: absolute;
    bottom: 0; }
    #header #header-bottom .views-field-path a {
      -moz-border-radius: 7px;
      -webkit-border-radius: 7px;
      border-radius: 7px;
      border: 1px solid #97ac24;
      background: #fff;
      width: 100%;
      display: block;
      padding: 45px 0;
      text-transform: uppercase;
      font-family: Arial;
      color: #97ac24;
      text-decoration: none; }

@media only screen and (min-width: 641px) {
  #header #header-bottom {
    padding: 0 !important;
    position: unset !important;
    /* Subtile & Content */
    /* Image */
    /* Read More link */ }
    #header #header-bottom .bxslider {
      width: 100%;
      clear: both;
      position: absolute;
      left: 0;
      height: 613px; }
      #header #header-bottom .bxslider .slide {
        height: 613px;
        margin: 0 auto; }
        #header #header-bottom .bxslider .slide .slide-wrapper {
          width: 1500px;
          height: 613px;
          margin: 0; }
          #header #header-bottom .bxslider .slide .slide-wrapper .slide-safe-container {
            width: 1000px !important;
            float: left;
            margin: 0 auto; }
    #header #header-bottom .bxSlider-container {
      width: 2000px;
      text-align: left; }
    #header #header-bottom .bx-wrapper .bx-pager, #header #header-bottom .bx-wrapper .bx-controls-auto {
      bottom: 96px; }
    #header #header-bottom .bx-wrapper {
      margin: 0; }
    #header #header-bottom .bx-wrapper .bx-pager {
      width: 1000px; }
    #header #header-bottom .views-field-title {
      float: left;
      text-align: left;
      font-size: 52px;
      width: 534px;
      margin-bottom: 16px;
      z-index: 31;
      padding: 60px 0 0 33px; }
      #header #header-bottom .views-field-title .field-content {
        display: block;
        max-height: 128px; }
    #header #header-bottom .views-field-entity-id-1, #header #header-bottom .views-field-entity-id-8 {
      text-align: left;
      float: left;
      z-index: 31;
      line-height: 29px;
      font-size: 24px;
      width: 534px;
      padding: 0 0 0 33px; }
    #header #header-bottom .views-field-entity-id {
      left: 508px;
      width: auto;
      overflow: visible;
      position: absolute;
      z-index: 30;
      margin: 0; }
      #header #header-bottom .views-field-entity-id img {
        max-height: 603px; }
    #header #header-bottom .views-field-path {
      display: none; } }

/*# sourceMappingURL=hp-slideshow.css.map */
