.clients-wrapper {
  .clients-container {
    width: 519px;
    margin: 80px auto 0;

    .views-field-field-picture {
      width: 156px;
      height: 156px;
      text-align: center;
      overflow: hidden;
      border: 1px solid #c2c2c2;
      float: left;
      margin: 0 12px 12px 0;

      img {
        height: 100%;
      }
    }
  }
  .more-container {
    text-align: center;
    a.more {
      display: block;
      background: url(../../images/load-more.gif) no-repeat left center;
      padding: 0 0 0 34px;
      height: 29px;
      width: 128px;
      margin: 0 auto;
      font-size: 20px;
      font-weight: lighter;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .anchor-next {
    margin: 54px auto 0 !important;
  }

}