/* Summa 2015 mobile design */

@media only screen and (min-width: 1367px) {
    #header{
        #header-bottom{
            .views-field-entity-id img{
                max-height: 610px;
                width: auto;
            }
        }
    }
}

@media only screen and (max-width: 1366px) {
    #header{
        #header-bottom{
            background-size: auto 500px;
            .views-field-entity-id img{
                max-height: 575px;
                width: auto;
            }
            .bx-wrapper .bx-pager,
            .bx-wrapper .bx-controls-auto{
                bottom: 110px;
            }
        }
    }
}

@media only screen and (max-width: 1280px) {
    #header{
        #header-bottom{
            .views-field-entity-id img{
                max-height: 550px;
            }
            .views-field,
            .views-field-title{
                padding-left: 0;
            }
            .bx-wrapper .bx-pager,
            .bx-wrapper .bx-controls-auto{
                bottom: 120px;
            }
        }
    }
}

@media only screen and (max-width: 1154px) {
    #header{
        #header-bottom{
            .views-field-entity-id img{
                max-height: 500px;
            }
        }
    }
}

@media only screen and (max-width: 1080px) {
    #header{
        #header-bottom{
            background-size: auto 450px;
        }
    }
}

@media only screen and (max-width: 1024px) {
    #page-wrapper{
        min-width: 100% !important;
        background-image: none;
    }
    #header{
        #header-bottom{
            .views-field{
                .field-content{
                    width: 75%;
                }
            }
            .views-field-title{
                font-size: 45px;
                padding: 50px 0 0;
                width: 60%;
            }
            .views-field-entity-id-1,
            .views-field-entity-id-8{
                padding: 0;
                width: 60%;
            }
            .views-field-entity-id{
                left: 17%;
                width: 50%;
                .field-content{
                    //width: 100%;
                    text-align: center;
                    a{
                        display: inline-block;
                        margin: 0 auto;
                    }
                }
                img{
                    height: 45vw;
                    width: auto;
                }
            }
            .bx-viewport{
                height: 500px !important;
                min-height: 500px;
            }
            .bx-wrapper .bx-pager,
            .bx-wrapper .bx-controls-auto{
                bottom: 50px;
            }
        }
    }
}

@media only screen and (max-width: 960px) {
    #header{
        #header-bottom{
            .views-field{
                .field-content{
                    width: 60%;
                }
            }
            .views-field-title{
                font-size: 40px;
                padding: 50px 0 0;
                width: 60%;
            }
            .views-field-entity-id-1,
            .views-field-entity-id-8{
                padding: 0;
                width: 65%;
            }
            .views-field-entity-id{
                left: 19%;
                width: auto;
                .field-content{
                    //width: 100%;
                    text-align: center;
                    a{
                        display: inline-block;
                        margin: 0 auto;
                    }
                }
                img{
                    height: 45vw;
                    width: auto;
                }
            }
            .bx-viewport{
                height: 500px !important;
                min-height: 500px;
            }
        }
    }
}

@media only screen and (max-width: 800px) {
    #header{
        #header-middle{
            &.cloned{
                /* Stop sticky in mobile */
                display: none !important;
            }
            #logo{
                width: 160px;
            }
            .header-middle-inner{
                padding: 0;
            }
        }
        #header-bottom{
            background-size: auto 400px;
            .bxslider .slide .slide-wrapper .slide-safe-container{
                width: 100% !important;
            }
            .views-field .field-content{
                width: 35%;
                font-size: 22px;
            }
            .views-field-title .field-content{
                font-size: 35px;
            }
            .bx-wrapper .bx-pager{
                width: 700px;
            }
            .views-field-entity-id{
                left: 17%;
            }
            .bx-viewport{
                height: 400px !important;
                min-height: 400px;
            }
            .bx-wrapper .bx-pager,
            .bx-wrapper .bx-controls-auto{
                bottom: 10px;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    #header{
        #header-middle{
        }
    }
}

