/* Summa 2015 mobile design */

@media only screen and (min-width: 1367px) {
    #header{
        #header-bottom{
            .views-field-entity-id img{
                max-height: 610px;
                width: auto;
            }
        }
    }
}

@media only screen and (max-width: 1366px) {
    #header{
        #header-bottom{
            background-size: auto 500px;
            .views-field-entity-id img{
                max-height: 575px;
                width: auto;
            }
            .bx-wrapper .bx-pager,
            .bx-wrapper .bx-controls-auto{
                bottom: 110px;
            }
        }
    }
}

@media only screen and (max-width: 1280px) {
    #header{
        #header-bottom{
            .views-field-entity-id img{
                max-height: 550px;
            }
            .views-field,
            .views-field-title{
                padding-left: 0;
            }
            .bx-wrapper .bx-pager,
            .bx-wrapper .bx-controls-auto{
                bottom: 120px;
            }
        }
    }
}

@media only screen and (max-width: 1154px) {
    #header{
        #header-bottom{
            .views-field-entity-id img{
                max-height: 500px;
            }
        }
    }
}

@media only screen and (max-width: 1080px) {
    #header{
        #header-bottom{
            background-size: auto 450px;
        }
    }
}

@media only screen and (max-width: 1024px) {
    #page-wrapper{
        min-width: 100% !important;
        background-image: none;
    }
    #header{
        #header-bottom{
            .views-field{
                .field-content{
                    width: 75%;
                }
            }
            .views-field-title{
                font-size: 45px;
                padding: 50px 0 0;
                width: 60%;
            }
            .views-field-entity-id-1,
            .views-field-entity-id-8{
                padding: 0;
                width: 60%;
            }
            .views-field-entity-id{
                left: 17%;
                width: 50%;
                .field-content{
                    //width: 100%;
                    text-align: center;
                    a{
                        display: inline-block;
                        margin: 0 auto;
                    }
                }
                img{
                    height: 45vw;
                    width: auto;
                }
            }
            .bx-viewport{
                height: 500px !important;
                min-height: 500px;
            }
            .bx-wrapper .bx-pager,
            .bx-wrapper .bx-controls-auto{
                bottom: 50px;
            }
        }
    }
}

@media only screen and (max-width: 960px) {
    #header{
        #header-bottom{
            .views-field{
                .field-content{
                    width: 60%;
                }
            }
            .views-field-title{
                font-size: 40px;
                padding: 50px 0 0;
                width: 60%;
            }
            .views-field-entity-id-1,
            .views-field-entity-id-8{
                padding: 0;
                width: 65%;
            }
            .views-field-entity-id{
                left: 19%;
                width: auto;
                .field-content{
                    //width: 100%;
                    text-align: center;
                    a{
                        display: inline-block;
                        margin: 0 auto;
                    }
                }
                img{
                    height: 45vw;
                    width: auto;
                }
            }
            .bx-viewport{
                height: 500px !important;
                min-height: 500px;
            }
        }
    }
    #services-list-container{
        max-width: 100%;
        .views-row{
            width: 33%;
        }
        .subtitle{
            width: 95%;
        }
    }
    #certifieds-container{
        width: 100%;
        height: auto;
        max-width: 100%;
        background-image: none;
        .center-mask{
            width: 95%;
            height: 200px;
            border: 0;
            margin: 0 auto;
            border-radius: 30px;
            background-position: center 75px;
        }
        .bxslider{
            top: 230px;
            position: relative;
            padding-bottom: 250px;
            .slide{
                width: 49%;
                height: auto;
                min-height: 220px;
                float: left;
                position: relative;
                margin: 0 !important;
                padding: 0 !important;
                .views-field-field-image-top,
                .views-field-field-image-right,
                .views-field-field-image-right-1{
                    display: none;
                }
            }
        }
        .panel-separator{
            clear: both;
        }
        .views-field-title{
            min-height: 70px;
        }
        .views-field-body,
        .views-field-field-subtitle{
            padding: 0;
            min-height: 80px;
            p{
                padding: 0;
                margin: 0;
            }
        }
    }
}

@media only screen and (max-width: 800px) {
    #header{
        #header-middle{
            &.cloned{
                /* Stop sticky in mobile */
                display: none !important;
            }
            #logo{
                width: 160px;
            }
            .header-middle-inner{
                padding: 0;
            }
        }
        #header-bottom{
            background-size: auto 400px;
            .bxslider .slide .slide-wrapper .slide-safe-container{
                width: 100% !important;
            }
            .views-field .field-content{
                width: 35%;
                font-size: 22px;
            }
            .views-field-title .field-content{
                font-size: 35px;
            }
            .bx-wrapper .bx-pager{
                width: 700px;
            }
            .views-field-entity-id{
                left: 17%;
            }
            .bx-viewport{
                height: 400px !important;
                min-height: 400px;
            }
            .bx-wrapper .bx-pager,
            .bx-wrapper .bx-controls-auto{
                bottom: 10px;
            }
        }
    }
    .location-container .tablet-left{
        width: 25%;
    }
    #footer .region-footer .content{
        font-size: 15px;
        h3{
            font-size: 15px;
        }
        .footer-top .footer-box{
            width: 33%;
        }
    }
}

@media only screen and (max-width: 768px) {
    #header{
        #header-middle{
        }
    }
}

@media only screen and (max-width: 720px) {
    #header{
        #header-middle{
            #logo{
                width: 150px;
                margin: 5px 0 0;
            }
            #block-menu-menu-summa-options .menu li{
                a{
                    padding: 0px 10px !important;
                    line-height: 65px !important;
                    &:hover,
                    &.active{
                        padding: 0px 10px !important;
                    }
                }
            }
        }
    }
    #services-list-container{
        max-width: 100%;
        .views-row{
            width: 49%;
        }
    }
    #certifieds-container{
        .bxslider{
            padding-bottom: 250px;
            .slide{
                min-height: 250px;
            }
        }
        .views-field-body,
        .views-field-field-subtitle{
            min-height: 75px;
        }
        .field-content{
            width: 100%;
            display: inline-block;
            .title-container{
                margin: 0;
                width: 95%;
            }
        }
    }
    #footer .region-footer .content{
        .footer-top .footer-box{
            width: 50%;
            min-height: 200px;
        }
        .footer-bottom .copy{
            margin-top: 20px;
        }
    }
}

@media only screen and (max-width: 640px) {
    #page-wrapper{
        width: 100%;
    }
    #header{
        background-image: none;
        #header-top{
            background-image: none;
            .menu-mobile{
                width: 100%;
                text-indent: 110%;
                a{
                    border-radius: 9px;
                    background-color: #ccc;
                    box-shadow: 0 0 5px #ccc;
                    margin: 5px 0;
                    //display: inline-block;
                }
            }
        }
        #header-middle{
            .header-middle-inner{
                width: 100%;
                #logo{
                    margin-left: 9px;
                }
            }
            #block-menu-menu-summa-options .menu li a{
                line-height: 50px !important;
                font-size: 16px;
            }
            #block-summa-blocks-social-media{
                background-image: none;
                position: absolute;
                width: 220px;
                height: inherit;
                ul{
                    margin: -50px auto 0;
                    li{
                        display: inline-block;
                        float: left;
                        margin-right: 5%;
                        padding: 5px !important;
                        border-radius: 10px;
                        &.icon-facebook{
                            background-color: #5D82D1;
                        }
                        &.icon-twitter{
                            background-color: #40BFF5;
                        }
                        &.icon-google_plus{
                            background-color: #EB5E4C;
                        }
                        &.icon-linkedin{
                            background-color: #238CC8;
                        }
                    }
                }
            }
            .region.region-header{
                display: block;
                clear: both;
                margin: 0 auto;
            }
        }
    }
    .location-container{
        height: 600px;
        .pointer{
            height: 250px;
            margin-bottom: 40px;
            background-size: 25%;
        }
        .title{
            font-size: 50px;
        }
        .body{
            font-size: 25px;
            //font-weight: 700;
        }
        .tablet-left{
            width: 100%;
        }
        .bxslider .slide .container{
            padding: 50px 10px;
        }
        .bx-controls{
            display: none;
        }
    }
}

@media only screen and (max-width: 600px) {
  #services-list-container{
    max-width: 100%;
    .subtitle{
      width: 98%;
      padding-left: 25px;
    }
    .views-row{
      width: 100%;
    }
    .pane-content{
      .views-field-title{
        font-size: 35px;
      }
      .views-field-field-picture-whyus img{
        height: 150px;
        max-height: 150px;
      }
      .views-field-field-subtitle{
        //position: relative;
        top: 275px;
        width: 90%;
        float: none;
        margin: 0 auto;
        padding-left: 5%;
      }
    }
  }
  #certifieds-container{
    .bxslider{
      padding-bottom: 250px;
      .slide{
        width: 95%;
        float: none;
        margin: 0 auto !important;
        //padding-left: 3%;
        min-height: 250px;
      }
    }
    .views-field-body,
    .views-field-field-subtitle{
      min-height: 75px;
    }
    .field-content{
      width: 100%;
      display: inline-block;
      .title-container{
        margin: 0;
        width: 95%;
      }
    }
  }
  #footer .region-footer .content{
    font-size: 17px;
    line-height: 20px;
    .footer-top .footer-box{
      width: 100%;
      min-height: 90px;
      padding-bottom: 15px;
      h3{
        font-size: 19px;
      }
      .item{
        line-height: 20px;
      }
    }
  }
}

@media only screen and (max-width: 570px) {
    #footer .region-footer .content{
        .footer-top .footer-box{
            width: 100%;
            min-height: 100px;
        }
    }
    .location-container{
        .pointer{
            height: 250px;
            background-size: 30%;
        }
    }
}

@media only screen and (max-width: 540px) {
  #header #header-bottom .views-field-entity-id img{
    display: none;
  }
    #footer .region-footer .content{
        .footer-bottom .copy{
            margin-top: 25px;
        }
    }
}

@media only screen and (max-width: 539px) {
  #header{
    #header-top .menu-mobile{
      display: block;
    }
    #header-middle{
      #logo{
        float: right;
        //width: inherit;
        //padding-right: 15px;
        position: absolute;
        left: 60%;
      }
      #block-summa-blocks-social-media{
        display: none;
      }
      #block-menu-menu-summa-options{
        display: none;
        ul.menu{
          width: 100%;
          li{
            width: 98%;
            height: auto;
            text-align: left;
            display: inline-block;
            outline: none;
            outline-style: none;
            -moz-outline-style:none;
            a{
              width: 97%;
              outline: none;
              outline-style: none;
              -moz-outline-style:none;
              display: inline-block;
              &:active,
              &:focus{
                outline: none;
                outline-style: none;
                -moz-outline-style:none;
              }
            }
          }
        }
      }
    }
  }

    #footer .region-footer .content{
        .footer-bottom .copy{
            margin-top: 25px;
        }
    }
}

@media only screen and (max-width: 480px) {
  #header #header-middle #logo{
    left: 55%;
  }
    .location-container{
        .pointer{
            height: 210px;
        }
        .title{
            font-size: 45px;
        }
        .body{
            font-size: 25px;
            font-weight: 400;
        }
    }
}

@media only screen and (max-width: 400px) {
  #header #header-middle #logo{
    left: 50%;
  }
    .location-container{
        .pointer{
            height: 190px;
        }
        .title{
            font-size: 40px;
        }
        .body{
            font-size: 20px;
        }
    }
}

@media only screen and (max-width: 360px) {
  #header #header-middle #logo{
    left: 45%;
  }
}

@media only screen and (max-width: 320px) {
  #header #header-middle #logo{
    left: 40%;
  }
}
