$mobile-portrait: 319px;
$mobile-landscape: 479px;

$hdi-mobile-portrait: 639px;
$hdi-mobile-landscape: 959px;

$small-tablet-portrait: 599px;
$small-tablet-landscape: 799px;

$tablet-portrait: 767px;
$tablet-landscape: 1023px;

$desktop: 1023px;
