.canvas-contact{
    .about-us-container{
      padding: 64px 46px;
      .pane-content{
        font-family: Roboto;
        font-weight: lighter;
      }
    }
    .panels-flexible-row{
      padding: 0;
      font-size: 16px;
    }
}