.canvas-company {
  .row-white {
    .manifesto-container {
      .pane-content {
        padding: 0 0 0 84px;
        margin: 0 0 34px;
      }
    }
    .view-manifesto-items {
      ul.manifesto-accordion {
        margin: 0 0 0 55px;
        > li {
          //          list-style: url(../../../images/accordion-collapsed.gif);
          &.gv-accordion-active {
            //            list-style: url(../../../images/accordion-expanded.gif);
            .views-field-title {
              //              border: none;
            }
          }
          li {
            //            list-style-image: none;
          }
          .views-field-title {
            //            cursor: pointer;
            //            font-weight: bold;
            //            text-transform: uppercase;
            //            color: #666;
            //            border-bottom: 1px solid #c2c2c2;
            //            line-height: 46px;
          }
          .views-field-body {
            //            padding: 11px 0 47px 0 ;
          }
        }
      }
    }
  }
}