$region-height: 1090px;

#certifieds-container {
  background: url(../../images/certifieds-background-tablet.gif) no-repeat left top;
  //  text-align: center;
  height: $region-height;
  position: relative;
  width: 1000px;
  margin: 0 auto;

  h2 {
    //    margin: 0;
    //    font-family: Ruda;
    //    font-size: 64px;
    //    color: #8db234;
    //    font-weight: normal;
    //    width: 300px;
    //    padding: 25px 0 0 72px;
    //    text-align: left;
    display: none;
  }

  .bxslider {
    height: auto;
    position: static;
    .slide {
      position: absolute;
      float: none;
      height: 355px;
      width: 447px;
      margin: auto;

      &.position-top {
        top: 0;
        left: 0;
        right: 0;
      }
      &.position-right {
        top: 0;
        bottom: 0;
        right: 0;
        margin-right: -65px;
      }
      &.position-bottom {
        bottom: 0;
        left: 0;
        right: 0;
      }
      &.position-left {
        top: 0;
        left: 0;
        bottom: 0;
        margin-left: -65px;
      }

    }
  }

  .views-field-field-image-top {
    position: static;
    margin-top: 36px;
    //    top: 28px;
    //    left: 0;
    //    right: 0;
  }

  .views-field-title {
    font-size: 28px;
    //    font-weight: normal;
    //    font-family: Ruda;
    //    color: #999;
    padding: 0;
    .title-container {
      padding: 0 27px;
      display: inline-block;
      //      margin: 0 65px;
      //      background: #000;
      background: url(../../images/certifieds-title-background-mobile.gif) repeat-x left 20px;
      .title-mask {
        //        background: #fff;
        padding: 0 20px;
        //        max-width: 100%;
        //        margin: 0 auto;
        max-height: 80px;
      }
    }
  }
  .views-field-field-subtitle {
    color: #333;
    //    font-weight: lighter;
    padding: 0 88px;
    font-size: 18px;
    //    font-family: Roboto;
  }
  .views-field-body {
    color: #333;
    //    font-weight: lighter;
    padding: 0 88px;
    font-size: 16px;
    //    font-family: Roboto;
    .field-content {
      max-height: 88px;
    }
  }

  .views-field-field-image-right, .views-field-field-image-right-1 {
    .image-container {
      width: 100%;
      //      margin: 0 auto;
      position: relative;
      top: 76px;
      //      margin-top: -76px;
      img {
        //        display: inline-block;
        margin: 0;
        width: 63px;
      }
      img:first-child {
        float: left;
      }
      img:last-child {
        float: right;
      }
    }
  }

  .views-field-field-external-link {
    //    color: #999;
    position: static;
    //    bottom: 200px;
    //    left: 0;
    //    right: 0;
    //    z-index: 40;
    padding: 18px 0;
    a {
      //      background: #fff;
      //      font-family: Arial;
      //      border-radius: 4px;
      //      border: 1px solid #999;
      padding: 18px 25px;
      margin: 0;
      //      width: auto;
      //      text-transform: uppercase;
      font-size: 10px;
      //      text-decoration: none;
      //      color: inherit;
      letter-spacing: 2px;
      //      display: inline;
    }
  }

  .center-mask {
    background: #fff;
    width: 233px;
    height: 233px;
    border: 4px solid #8db234;
    color: #8db234;
    border-radius: 50%;
    background: url(../../images/certifieds-center-background.png) no-repeat center 107px;

    font-weight: bold;
    font-size: 32px;
    padding: 21px;
    text-align: center;

    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

}