.canvas-services {
  .region-body-container {
    margin-top: 84px;
    margin-bottom: 95px;
  }
  .col-left {
    margin: 16px 0 0;
    width: 324px;
  }
  .col-right {
    margin: 16px 0 0;
    width: 411px;
  }
  .col-left, .col-right {
    text-align: center;
    p em {
      margin: 0 0 25px;
    }
  }
  .col-left-tablet {
    width: 408px;
    float: left;
  }
  .col-right-tablet {
    width: 411px;
    float: right;
  }
  .field-name-body {
    h2 {
      text-align: center;
    }
  }
}