.location-container {
  //  color: #fff;
  height: 568px;

  .background-map {
    background: #444;
    width: 100%;
    height: 568px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    &.map-bsas {
      background: url(../../images/map-bsas-tablet.jpg);
    }
    &.map-tandil {
      background: url(../../images/map-tandil-tablet.jpg);
    }
  }

  .bxslider {
    margin: 0 auto;
    height: 482px;
    .slide {

      .container {
        width: 1000px;
        margin: 0 auto;
        height: 568px;
        padding: 175px 0;
      }
    }
  }

  .tablet-left {
    float: left;
    width: 324px;
  }
  .tablet-right {
    float: left;
    width: auto;
    text-align: left;
    padding: 14px 0;
  }
  .pointer {
    margin: 0 auto;
    width: 121px;
    height: 182px;
    background: url(../../images/location-pointer-tablet.png) no-repeat center center;
  }
  .title {
    //    font-family: Ruda;
    font-size: 44px;
    //    font-weight: bold;
    margin: 0 0 22px;
  }
  .body {
    //    font-family: Roboto;
    //    font-weight: lighter;
    line-height: 33px;
    font-size: 28px;
  }
}