.location-container {
  color: #fff;
  position: relative;
  width: 100%; //635px;
  height: 766px;
  background: #555;

  .background-map {
    background-position: center center;
    width: 100%; //635px;
    height: 766px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;

    &.map-bsas {
      background-image: url(../../images/map-bsas-mobile.jpg);
    }
    &.map-tandil {
      background-image: url(../../images/map-tandil-mobile.jpg);
    }
  }
  .bx-viewport {
    overflow: visible !important;
  }

  .bxslider {
    width: 100%; //635px;
    height: 680px;
    position: relative;
    .slide {
      width: 100%;
      height: 100%;
      float: left;
      text-align: center;

      .container {
        position: relative;
        z-index: 30;
        padding: 64px 36px 57px;
      }
    }
  }

  .pointer {
    margin: 0 auto 46px;
    width: 100%;
    height: 289px;
    background: url(../../images/location-pointer-mobile.png) no-repeat center center;
  }
  .title {
    font-family: Ruda;
    font-size: 64px;
    font-weight: bold;
  }
  .body {
    font-family: Roboto;
    font-weight: lighter;
    line-height: 41px;
    font-size: 34px;
  }
}