#contact-form-container {
  padding: 0 84px;
  .float-left {
    float: left;
    width: 50%;
    padding: 0 7px 0 0;
  }
  .float-right {
    float: right;
    width: 50%;
    padding: 0 0 0 8px;
  }
  form {
    textarea {
      min-height: 115px;
    }
  }
}