#contact-form-container {
    text-align: center;
    padding: 0 116px;
    margin: 0 auto 53px;
}

#contact-form-container .anchor-prev {
    margin: 12px auto 44px;
}

#contact-form-container .subtitle {
    margin: 0;
}

#contact-form-container form {
    margin: 19px 0 0 0;
    transition: visibility 2s;
    visibility: visible;
}

#contact-form-container form input[type=text], #contact-form-container form textarea {
    background: #ebebeb;
    color: #333;
    border: 1px solid #999;
    border-radius: 4px;
    width: 100%;
    font-family: Arial;
    font-size: 12px;
    padding: 18px 24px;
    box-shadow: none;
    height: auto;
}

#contact-form-container form input[type=text]:not(.scombobox-display), #contact-form-container form textarea:not(.scombobox-display) {
    margin: 0 0 13px;
}

#contact-form-container form input[type=text].error, #contact-form-container form textarea.error {
    color: #f00;
}

#contact-form-container form textarea {
    resize: vertical;
}

#contact-form-container form input[type=reset] {
    font-family: Arial;
    font-size: 11px;
    color: #999;
    border: none;
    background: none;
    text-decoration: underline;
    margin: 19px 0 0 48px;
    padding: 0;
    outline: none;
    float: left;
    letter-spacing: 2px;
    cursor: pointer;
}

#contact-form-container form input[type=submit] {
    float: right;
    font-family: Arial;
    font-size: 11px;
    color: #999;
    border-radius: 4px;
    border: 1px solid #999;
    background: none;
    outline: 0px;
    padding: 18px 104px;
    cursor: pointer;
}

#contact-form-container .msg {
    width: 100%;
    color: #fff;
    font-family: Roboto;
    font-weight: normal;
    font-style: italic;
    font-size: 14px;
    padding: 12px;
    margin: 20px auto;
    display: none;
}

#contact-form-container .msg.msg-ok {
    background: #8db234;
}

#contact-form-container .msg.msg-error {
    background: #eb5e4c;
}

.combobox-container {
    height: 51px;
    width: 100%;
    margin: 0 0 13px;
}

.combobox-container .scombobox {
    margin: 0;
}

.combobox-container .scombobox .scombobox-dropdown-background {
    background: none;
    border: 0;
}

.combobox-container .scombobox .scombobox-list {
    background: #ebebeb;
    font-family: Arial;
    font-size: 10px;
    color: #000;
    text-align: left;
}

.combobox-container .scombobox .scombobox-list p {
    padding: 10px 25px 9px;
}

.combobox-container .scombobox .scombobox-list p:hover, .combobox-container .scombobox .scombobox-list p.scombobox-hovered {
    background: #e3e3e3;
}

@media only screen and (min-width: 641px) {
    #contact-form-container {
        padding: 0 84px;
        margin: 0 auto 73px;
    }

    #contact-form-container .float-left {
        float: left;
        width: 50%;
        padding: 0 7px 0 0;
    }

    #contact-form-container .float-right {
        float: right;
        width: 50%;
        padding: 0 0 0 8px;
    }

    #contact-form-container form textarea {
        min-height: 115px;
    }
}
