.canvas-quiz {
    background: #fff;

    .row-white {
        margin: 0 auto;
        max-width: 1000px;
        width: 100%;
    }

    .quiz-container {
        p {
            margin: 0;
            font-size: 17px !important;
        }
    }

    .panels-flexible-row {
        padding: 0;
    }
}